<nav class="navbar navbar-expand-lg bg-body-tertiary ">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="ejs">test</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="date">Date</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="user">Người dùng</a>
                </li>

        </div>
        <a class="d-flex nav-link active" aria-current="page" href="login">Đăng nhập</a>
    </div>
</nav>